@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	display: flex;
	background-color: #268741;

	.innerContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 286px 315px 138px 64px;

		&__title {
			font-size: 11rem;
			align-self: flex-end;
			color: #ffffff;
			margin-bottom: 42px;
		}
	}

	.contactContainer {
		display: flex;
		justify-content: space-between;

		.leftSide {
			display: flex;
			flex-direction: column;

			&__title {
				font-size: 2.4rem;
				font-weight: 500;
				color: #ffffff;
				margin-bottom: 32px;
			}

			&__adressText {
				font-size: 3.2rem;
				font-weight: 600;
				color: #ffffff;
			}

			.mailWeb {
				display: flex;
				flex-direction: column;
				margin-top: 56px;

				&__title {
					font-size: 2.4rem;
					font-weight: 500;
					color: #ffffff;
					margin-bottom: 32px;
				}

				&__mail {
					font-size: 3.2rem;
					font-weight: 400;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}

		.rightSide {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			margin-inline-end: 380px;

			&__title {
				font-size: 2.4rem;
				font-weight: 500;
				color: #ffffff;
				margin-bottom: 32px;
			}

			&__socialButton {
				font-size: 3.2rem;
				font-weight: 400;
				color: #ffffff;
				text-decoration: none;
			}

			&__socialButton:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	.mailMobile {
		display: none;
	}
}

@media (max-width: 390px) {
	.container {
		width: 100%;
		padding: 0 32px;
	
		.innerContainer {
			padding: 0;
			padding-top: 94px;

			&__title {
				align-self: initial;
				font-size: 6.4rem;
				margin-bottom: 48px;

			}
		}

		.contactContainer {
			flex-direction: column;

			.leftSide {
				&__title {
					font-size: 2.4rem;
					font-weight: 500;
					color: #ffffff;
					margin-bottom: 32px;
				}

				&__adressText {
					font-size: 3.2rem;
					font-weight: 600;
					color: #ffffff;
				}

				.mailWeb {
					display: none;
				}
			}

			.rightSide {
				align-items: flex-end;
				margin-inline-end: 0px;
				margin-top: 48px;

				&__title {
					font-size: 2.4rem;
					font-weight: 500;
					color: #ffffff;
					margin-bottom: 32px;
				}

				&__socialButton {
					font-size: 3.2rem;
					font-weight: 400;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}

		.mailMobile {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 48px;

			&__title {
				font-size: 2.4rem;
				font-weight: 500;
				color: #ffffff;
				margin-bottom: 32px;
			}

			&__mail {
				font-size: 3.2rem;
				font-weight: 400;
				color: #ffffff;
				text-decoration: none;
			}

			.mobileSignature {
				font-size: 2rem;
				color: #ffffff;
				font-weight: 700;
				margin: 71px 0 7px 0;
			}
		}
	}
}