@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	margin-top: 117px;
	padding: 0 64px 144px 64px;

	.headerContainer {
		display: flex;
		align-items: center;
		margin-top: 59px;

		&__title {
			font-size: 19rem;
			font-weight: 500;
			margin-inline-end: 64px;
		}

		&__icon {
			width: 62px;
			height: 37px;
			fill: #1e1e1e;
		}
	}

	.yearsList {
		display: flex;
		align-items: center;

		&__item {
			font-size: 3.6rem;
			font-weight: 400;

			&--selected {
				font-weight: 600;
				color: #268741;
			}
		}

		&__item:not(:last-child) {
			margin-inline-end: 32px;
		}

		&__item:first-child {
			text-decoration: underline;
		}
	}
}

@media (max-width: map.get($sizes, main-mobile-width)) {
	.container {
		display: flex;
		flex-direction: column;
		margin-top: 48px;
		padding: 0 0px 104px 0px;

		.headerContainer {
			display: flex;
			align-items: center;
			margin-top: 0px;
			padding: 0 41px 0 16px;

			&__title {
				font-size: 64px;
				margin-inline-end: 32px;
			}

			&__icon {
				width: 24px;
				height: 14px;
			}
		}

		.yearsList {
			flex-wrap: wrap;
			padding: 0 41px 0 16px;
			margin-top: 8px;

			&__item {
				font-size: 2.4rem;
				font-weight: 400;
				margin-bottom: 8px;

				&--selected {
					font-weight: 600;
					color: #268741;
				}
			}

			&__item:not(:last-child) {
				margin-inline-end: 16px;
			}
		}
	}
}
