@use 'sass:map';

@import '../../../../styles/variables.scss';

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.container {
	position: relative;

	&__image {
		position: absolute;
		left: -300px;

		&--visible {
			animation: fadeIn 0.7s ease-in-out;
		}

		&--hidden {
			animation: fadeOut 0.7s ease-in-out;
		}
	}

	&__link {
		color: #ffffff;
		text-decoration: none;
		font-size: 9rem;
		font-weight: 600;
	}
}

@media (max-width: map.get($sizes, main-mobile-width)) {
}
