.container {
	display: flex;
	margin-top: 117px;
	padding: 0 64px 144px 64px;

	.headerContainer {
		display: flex;
		align-items: center;
		margin-top: 59px;

		&__title {
			font-size: 19rem;
			font-weight: 500;
			margin-inline-end: 64px;
		}

		&__icon {
			width: 62px;
			height: 37px;
			fill: #1e1e1e;
		}
	}
}
